.ipynb_checkpoints/Model-checkpoint.ipynb
.gitattributes
.ipynb_checkpoints/Ingredients-checkpoint.ipynb
.ipynb_checkpoints/Final Code-checkpoint.ipynb
.ipynb_checkpoints/Final_Code_with_4ingredient_recipes-checkpoint.ipynb
.ipynb_checkpoints/Final Code-checkpoint.ipynb
.ipynb_checkpoints/Ingredients-checkpoint.ipynb
.ipynb_checkpoints/Ingredients-checkpoint.ipynb
